@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #212121;
    --card: #1a1a1a;
  }

  .dark {
    --background: #212121;
    --card: #1a1a1a;
  }
}

@layer base {
  body {
    @apply bg-background;
  }
}
